/* Wedit generated resource file */
#ifdef __LCC__
#include <windows.h>
#endif
#include "sbtag.h"

IDAPPLICON		ICON "ico/i.ico"
IDABOUTICON		ICON "ico/1.ico"

IDL1ICON		ICON "ico/2.ico"
IDL2ICON		ICON "ico/3.ico"
IDL3ICON		ICON "ico/4.ico"
IDL4ICON		ICON "ico/20.ico"
IDL5ICON		ICON "ico/21.ico"
IDL6ICON		ICON "ico/22.ico"
IDL7ICON		ICON "ico/23.ico"

IDSFOLDERICON	ICON "ico/5.ico"
IDSELALLICON	ICON "ico/6.ico"
IDDESALLICON	ICON "ico/7.ico"
IDALLICON		ICON "ico/8.ico"
IDEXECICON		ICON "ico/9.ico"
IDT12ICON		ICON "ico/10.ico"
IDT21ICON		ICON "ico/11.ico"
IDUPDATEICON	ICON "ico/12.ico"
IDTRIMICON		ICON "ico/13.ico"
IDLEFTICON		ICON "ico/14.ico"
IDRIGHTICON		ICON "ico/15.ico"
IDCLEARICON		ICON "ico/16.ico"
IDREFRESHICON	ICON "ico/19.ico"

IDABOUTDIALOG DIALOG 0, 0, 200, 78
STYLE DS_CENTER
CAPTION "About"
FONT 8, "Helv"
BEGIN
	CTEXT        "SBTag.2.13", IDVERSION, 0, 2, 200, 10
	CTEXT        "30.12.2024", IDDATE, 0, 14, 200, 10
	CTEXT        "Bystrov S.A. (Serbis)", IDSTATIC, 0, 26, 200, 10
	CTEXT  		 "mailto:serbis@gmail.com",  IDMAILTO, 40, 38, 120, 10
	CTEXT   	 "http://serbis.net.ru", IDHTTPTO, 40, 50, 120, 10
	PUSHBUTTON   "Close", IDOK, 0, 62, 200, 16, BS_DEFPUSHBUTTON
END

IDMAINDIALOG DIALOG 0, 0, 380, 330
STYLE WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_ACCEPTFILES
CAPTION "SBTag"
FONT 8, "Helv"
BEGIN
END

IDFILEDIALOG DIALOG 0, 0, 380, 79
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "Helv"
BEGIN
    PUSHBUTTON      "About", IDABOUT, 0, 0, 40, 12, BS_OWNERDRAW

    EDITTEXT        IDFOLDER, 40, 0, 322, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "", IDSFOLDER, 364, 0, 16, 12, BS_ICON

    CONTROL         "", IDFILELIST, WC_LISTVIEW, LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER | WS_TABSTOP, 0, 12, 0, 0
    LISTBOX         IDLISTTEMP, 0, 0, 0, 0, LBS_SORT | NOT WS_VISIBLE | WS_TABSTOP
END

IDEXECDIALOG DIALOG 0, 79, 380, 250
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "Helv"
BEGIN
    PUSHBUTTON      "", IDREFRESH, 0, 0, 56, 12, BS_OWNERDRAW
    PUSHBUTTON      "", IDSELALL, 60, 0, 68, 12, BS_OWNERDRAW
    PUSHBUTTON      "", IDDESALL, 132, 0, 68, 12, BS_OWNERDRAW
    AUTOCHECKBOX	"", IDALL, 204, 0, 64, 12, BS_PUSHLIKE
    PUSHBUTTON      "", IDEXEC, 272, 0, 102, 12, BS_OWNERDRAW

    CONTROL         "", IDPROGRBAR, PROGRESS_CLASS ,WS_CLIPSIBLINGS, 0, 13, 380, 10
    CONTROL         "", IDTABCONTROL, WC_TABCONTROL ,0 ,0, 22, 380, 228
END

IDTAGINFODIALOG DIALOG 2, 38, 376, 212
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "Helv"
BEGIN
    GROUPBOX        "", IDSTATIC, 1, 0, 166, 106

    AUTOCHECKBOX    "ID3v1 Tag", IDCHTAG1, 8, 0, 50, 10
	AUTOCHECKBOX    "", IDALL1, 58, 0, 10, 10

    PUSHBUTTON      "", IDT12, 136, 8, 30, 12, BS_ICON | BS_FLAT

    EDITTEXT        IDTRACK1, 40, 12, 30, 12, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDTITLE1, 40, 25, 124, 12, ES_AUTOHSCROLL
    EDITTEXT        IDARTIST1, 40, 38, 124, 12, ES_AUTOHSCROLL
    EDITTEXT        IDALBUM1, 40, 51, 124, 12, ES_AUTOHSCROLL
    EDITTEXT        IDYEAR1, 40, 64, 30, 12, ES_AUTOHSCROLL | ES_NUMBER
    COMBOBOX        IDGENRE1, 40, 77, 124, 80, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDCOMM1, 40, 91, 124, 12, ES_AUTOHSCROLL

    AUTOCHECKBOX    "Track", IDCHTRACK1, 3, 12, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Title", IDCHTITLE1, 3, 25, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Artist", IDCHARTIST1, 3, 38, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Album", IDCHALBUM1, 3, 51, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Year", IDCHYEAR1, 3, 64, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Genre", IDCHGENRE1, 3, 77, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Comm", IDCHCOMM1, 3, 91, 35, 10, BS_LEFTTEXT | BS_LEFT

    GROUPBOX        "", IDTAG2, 169, 0, 206, 195

    AUTOCHECKBOX    "ID3v2 Tag", IDCHTAG2, 176, 0, 50, 10
	AUTOCHECKBOX    "", IDALL2, 226, 0, 10, 10

    PUSHBUTTON      "", IDT21, 170, 108, 30, 12, BS_ICON | BS_FLAT

    EDITTEXT        IDTRACK2, 208, 12, 164, 12, ES_AUTOHSCROLL
    EDITTEXT        IDTITLE2, 208, 25, 164, 12, ES_AUTOHSCROLL
    EDITTEXT        IDARTIST2, 208, 38, 164, 12, ES_AUTOHSCROLL
    EDITTEXT        IDALBUM2, 208, 51, 164, 12, ES_AUTOHSCROLL
    EDITTEXT        IDYEAR2, 208, 64, 40, 12, ES_AUTOHSCROLL
    COMBOBOX        IDGENRE2, 208, 77, 164, 80, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDCOMM2, 208, 91, 164, 36, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDCOMP2, 208, 128, 164, 12, ES_AUTOHSCROLL
    EDITTEXT        IDORIG2, 208, 141, 164, 12, ES_AUTOHSCROLL
    EDITTEXT        IDCOPY2, 208, 154, 164, 12, ES_AUTOHSCROLL
    EDITTEXT        IDURL2, 208, 167, 164, 12, ES_AUTOHSCROLL
    EDITTEXT        IDENCOD2, 208, 180, 164, 12, ES_AUTOHSCROLL

    AUTOCHECKBOX    "Track", IDCHTRACK2, 171, 12, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Title", IDCHTITLE2, 171, 25, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Artist", IDCHARTIST2, 171, 38, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Album", IDCHALBUM2, 171, 51, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Year", IDCHYEAR2, 171, 64, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Genre", IDCHGENRE2, 171, 77, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Comm", IDCHCOMM2, 171, 91, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Comp", IDCHCOMP2, 171, 128, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Orig", IDCHORIG2, 171, 141, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Copy", IDCHCOPY2, 171, 154, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Url", IDCHURL2, 171, 167, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Encod", IDCHENCOD2, 171, 180, 35, 10, BS_LEFTTEXT | BS_LEFT

    GROUPBOX        "MPEG info", IDSTATIC, 1, 108, 166, 87

    RTEXT           "Size (bytes) :", IDSTATIC, 3, 120, 56, 10
    RTEXT           "MPEG version :", IDSTATIC, 3, 130, 56, 10
    RTEXT           "Length :", IDSTATIC, 3, 140, 56, 10
    RTEXT           "Bitrate (kbps) :", IDSTATIC, 3, 150, 56, 10
    RTEXT           "Freq (Hz) :", IDSTATIC, 3, 160, 56, 10
    RTEXT           "Mod :", IDSTATIC, 3, 170, 56, 10
    RTEXT           "Frames :", IDSTATIC, 3, 180, 56, 10

    LTEXT           "", IDSIZE, 62, 120, 60, 10
    LTEXT           "", IDVERSION, 62, 130, 60, 10
    LTEXT           "", IDLENTH, 62, 140, 60, 10
    LTEXT           "", IDBITRATE, 62, 150, 60, 10
    LTEXT           "", IDFREQ, 62, 160, 60, 10
    LTEXT           "", IDMOD, 62, 170, 60, 10
    LTEXT           "", IDFRAMES, 62, 180, 60, 10

    LTEXT           "", IDTRANSLITTEXT, 1, 196, 36, 10
    COMBOBOX        IDTRANSLIT, 38, 196, 80, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    RTEXT           "", IDREGISTRTEXT, 128, 196, 36, 10
    COMBOBOX        IDREGISTR, 169, 196, 124, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDGRRENDIALOG DIALOG 2, 38, 376, 212
STYLE WS_CHILD
FONT 8, "Helv"
BEGIN
    GROUPBOX        "", IDMASKTEXT, 1, 0, 292, 40

    COMBOBOX        IDMASK, 3, 10, 180, 80, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP

    LTEXT           "", IDTAGTEXT, 190, 12, 14, 10
    COMBOBOX        IDTAG, 204, 10, 50, 40, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    AUTOCHECKBOX    "", IDTRIM, 260, 10, 30, 12, BS_LEFTTEXT | BS_LEFT

    PUSHBUTTON      "%0 Track", IDMTRACK, 4, 25, 36, 12, BS_LEFT
    PUSHBUTTON      "%1 Title", IDMTITLE, 40, 25, 32, 12, BS_LEFT
    PUSHBUTTON      "%2 Artist", IDMARTIST, 72, 25, 34, 12, BS_LEFT
    PUSHBUTTON      "%3 Album", IDMALBUM, 106, 25, 38, 12, BS_LEFT
    PUSHBUTTON      "%4 Year", IDMYEAR, 144, 25, 32, 12, BS_LEFT
    PUSHBUTTON      "%5 Comm", IDMCOMM, 176, 25, 38, 12, BS_LEFT
    PUSHBUTTON      "", IDMNAME, 214, 25, 36, 12, BS_LEFT
    PUSHBUTTON      "", IDMCOUNT, 250, 25, 40, 12, BS_LEFT

    GROUPBOX        "", IDCOUNTTEXT, 295, 0, 80, 55

    RTEXT           "", IDSTARTTEXT, 298, 12, 32, 10
    EDITTEXT        IDSTARTCOUNT, 332, 10, 40, 12, ES_NUMBER
    CONTROL         "", IDUDSTART, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_NOTHOUSANDS | UDS_ARROWKEYS, 0, 0, 0, 0

    RTEXT           "", IDSTEPTEXT, 298, 26, 32, 10
    EDITTEXT        IDSTEPCOUNT, 332, 24, 40, 12, ES_NUMBER
    CONTROL         "", IDUDSTEP, UPDOWN_CLASS ,UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_NOTHOUSANDS | UDS_ARROWKEYS, 0, 0, 0, 0

    RTEXT           "", IDCOLTEXT, 298, 40, 32, 10
    EDITTEXT        IDCOLCOUNT, 332, 38, 40, 12, ES_NUMBER
    CONTROL         "", IDUDCOL, UPDOWN_CLASS ,UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_NOTHOUSANDS | UDS_ARROWKEYS, 0, 0, 0, 0

    LTEXT           "", IDTRANSLITTEXT, 1, 44, 34, 10
    COMBOBOX        IDTRANSLIT, 35, 42, 80, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "", IDREGISTRTEXT, 134, 44, 30, 10
    COMBOBOX        IDREGISTR, 165, 42, 128, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    RTEXT           "", IDFINDTEXT, 46, 58, 26, 10
    EDITTEXT        IDFIND, 75, 56, 40, 12, ES_AUTOHSCROLL

    RTEXT           "", IDPASTTEXT, 115, 58, 48, 10
    EDITTEXT        IDPAST, 165, 56, 44, 12, ES_AUTOHSCROLL

	AUTOCHECKBOX    "", IDRANDOM, 300, 58, 76, 10

    CONTROL         "", IDNAMELIST, WC_LISTVIEW, LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 0, 69, 0, 0
END

IDGRTAGDIALOG DIALOG 2, 38, 376, 212
STYLE WS_CHILD
FONT 8, "Helv"
BEGIN
    GROUPBOX        "", IDMASKTEXT2, 1, 0, 374, 40

    COMBOBOX        IDMASK, 3, 10, 369, 80, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      "%0 Track", IDMTRACK, 4, 25, 36, 12, BS_LEFT
    PUSHBUTTON      "%1 Title", IDMTITLE, 40, 25, 32, 12, BS_LEFT
    PUSHBUTTON      "%2 Artist", IDMARTIST, 72, 25, 34, 12, BS_LEFT
    PUSHBUTTON      "%3 Album", IDMALBUM, 106, 25, 38, 12, BS_LEFT
    PUSHBUTTON      "%4 Year", IDMYEAR, 144, 25, 32, 12, BS_LEFT
    PUSHBUTTON      "%5 Comm", IDMCOMM, 176, 25, 38, 12, BS_LEFT

	LTEXT           "", IDTAGTEXT2, 270, 27, 58, 10
    COMBOBOX        IDTAG, 322, 25, 50, 40, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "", IDTRANSLITTEXT, 1, 44, 34, 10
    COMBOBOX        IDTRANSLIT, 35, 42, 80, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "", IDREGISTRTEXT, 134, 44, 30, 10
    COMBOBOX        IDREGISTR, 165, 42, 128, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    RTEXT           "", IDFINDTEXT, 46, 58, 26, 10
    EDITTEXT        IDFIND, 75, 56, 40, 12, ES_AUTOHSCROLL

    RTEXT           "", IDPASTTEXT, 115, 58, 48, 10
    EDITTEXT        IDPAST, 165, 56, 44, 12, ES_AUTOHSCROLL

    LTEXT           "", IDMETODTEXT, 20, 72, 54, 10
    COMBOBOX        IDMETOD, 75, 70, 298, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    AUTOCHECKBOX    "", IDUSEPATH, 1, 100, 150, 12

    GROUPBOX        "", IDTAG3, 1, 120, 374, 89

    EDITTEXT        IDTRACK1, 40, 129, 332, 12, ES_AUTOHSCROLL
    EDITTEXT        IDTITLE1, 40, 142, 332, 12, ES_AUTOHSCROLL
    EDITTEXT        IDARTIST1, 40, 155, 332, 12, ES_AUTOHSCROLL
    EDITTEXT        IDALBUM1, 40, 168, 332, 12, ES_AUTOHSCROLL
    EDITTEXT        IDYEAR1, 40, 181, 332, 12, ES_AUTOHSCROLL
    EDITTEXT        IDCOMM1, 40, 194, 332, 12, ES_AUTOHSCROLL

    AUTOCHECKBOX    "Track", IDCHTRACK1, 3, 129, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Title", IDCHTITLE1, 3, 142, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Artist", IDCHARTIST1, 3, 155, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Album", IDCHALBUM1, 3, 168, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Year", IDCHYEAR1, 3, 181, 35, 10, BS_LEFTTEXT | BS_LEFT
    AUTOCHECKBOX    "Comm", IDCHCOMM1, 3, 194, 35, 10, BS_LEFTTEXT | BS_LEFT
END

IDNAMETXTDIALOG DIALOG 2, 38, 376, 212
STYLE WS_CHILD
FONT 8, "Helv"
BEGIN
    GROUPBOX        "", IDSTATIC1, 1, 0, 235, 25

    RTEXT           "", IDFINDTEXT, 3, 12, 26, 10
    EDITTEXT        IDFIND, 37, 10, 40, 12, ES_AUTOHSCROLL

    LTEXT           "", IDPASTTEXT, 80, 12, 48, 10
    EDITTEXT        IDPAST, 126, 10, 40, 12, ES_AUTOHSCROLL

	PUSHBUTTON      "", IDFINDPAST, 170, 10, 62, 12, BS_OWNERDRAW

    GROUPBOX        "", IDSTATIC2, 1, 26, 235, 40

    RTEXT           "", IDSTARTTEXT, 3, 38, 32, 10
    EDITTEXT        IDSTARTCOUNT, 37, 36, 40, 12, ES_NUMBER
    CONTROL         "", IDUDSTART, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_NOTHOUSANDS | UDS_ARROWKEYS, 0, 0, 0, 0

    RTEXT           "", IDSTEPTEXT, 102, 38, 22, 10
    EDITTEXT        IDSTEPCOUNT, 126, 36, 40, 12, ES_NUMBER
    CONTROL         "", IDUDSTEP, UPDOWN_CLASS ,UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_NOTHOUSANDS | UDS_ARROWKEYS, 0, 0, 0, 0

    RTEXT           "", IDCOLTEXT, 3, 52, 32, 10
    EDITTEXT        IDCOLCOUNT, 37, 50, 40, 12, ES_NUMBER
    CONTROL         "", IDUDCOL, UPDOWN_CLASS ,UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_NOTHOUSANDS | UDS_ARROWKEYS, 0, 0, 0, 0

    LTEXT           "", IDSTATIC3, 82, 52, 50, 10
    EDITTEXT        IDTXTAFTER, 126, 50, 40, 12, ES_AUTOHSCROLL

	PUSHBUTTON      "", IDCOUNT, 170, 36, 62, 12, BS_OWNERDRAW

    GROUPBOX        "", IDSTATIC4, 239, 0, 135, 52

	PUSHBUTTON      "", IDTRIM2, 326, 8, 44, 12, BS_OWNERDRAW

    EDITTEXT        IDSRT, 243, 22, 33, 12, ES_NUMBER
    CONTROL         "", IDUDSRT, UPDOWN_CLASS ,UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_NOTHOUSANDS | UDS_ARROWKEYS, 0, 0, 0, 0
	PUSHBUTTON      "", IDTRIMST, 276, 22, 94, 12, BS_OWNERDRAW

    EDITTEXT        IDEND, 243, 36, 33, 12, ES_NUMBER
    CONTROL         "", IDUDEND, UPDOWN_CLASS ,UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_NOTHOUSANDS | UDS_ARROWKEYS, 0, 0, 0, 0
	PUSHBUTTON      "", IDTRIMED, 276, 36, 94, 12, BS_OWNERDRAW

	PUSHBUTTON      "", IDCLEAR, 310, 54, 60, 12, BS_OWNERDRAW

	EDITTEXT        IDMEMO, 0, 68, 376, 143, ES_AUTOHSCROLL | ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL  | WS_HSCROLL
END

IDINTEGRDIALOG DIALOG 2, 38, 376, 212
STYLE WS_CHILD
FONT 8, "Helv"
BEGIN
	GROUPBOX        "", IDSTATIC5, 2, 2, 270, 92

	CTEXT           "", IDSTATIC6, 6, 16, 262, 18

	GROUPBOX        "", IDSTATIC7, 6, 36, 160, 26
	AUTOCHECKBOX    "", IDFILE, 10, 46, 10, 12
	EDITTEXT        IDEDFILE, 22, 46, 140, 12,ES_AUTOHSCROLL

	GROUPBOX        "", IDSTATIC8, 6, 64, 160, 26
	AUTOCHECKBOX    "", IDDIR, 10, 74, 10, 12
	EDITTEXT        IDEDDIR, 22, 74, 140, 12,ES_AUTOHSCROLL

	PUSHBUTTON		"", IDCRERL, 187, 60, 80, 30, BS_MULTILINE

	LTEXT           "Language", IDSTATIC, 6, 100, 44, 9
	COMBOBOX        IDLANG, 44, 98, 50, 80, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END

STRINGTABLE
BEGIN
    IDSTR5, "Русский -> Russkij"
    IDSTR6, "Russkij -> Русский"
	IDSTR61, "ISO"

    IDSTR7, "ID3v1"
    IDSTR8, "ID3v2"
    IDSTR9, "ID3v2 & v1"

    IDSTR10, "%0 - %1"
    IDSTR11, "%0 - %1 - %2"
    IDSTR12, "%0 - %2 - %1"
    IDSTR13, "%0. %1"
    IDSTR14, "%0. %1 - %2"
    IDSTR15, "%0. %2 - %1"
    IDSTR16, "%1"
    IDSTR17, "%1 - %2"
    IDSTR18, "%2 - %1"
    IDSTR19, "%7 - %1"
    IDSTR20, "%7 - %1 - %2"
    IDSTR21, "%7 - %2 - %1"
    IDSTR22, "%7. %1"
    IDSTR23, "%7. %1 - %2"
    IDSTR24, "%7. %2 - %1"
	IDSTR25, "         %2\\%3\\%0. %1"
END

IDFILEACC ACCELERATORS
BEGIN
	VK_O,		IDSFOLDER,	CONTROL,	VIRTKEY
	VK_RETURN,	IDRETURN,				VIRTKEY
END

IDEXECACC ACCELERATORS
BEGIN
	VK_A,		IDSELALL,	CONTROL,	VIRTKEY
	VK_D,		IDDESALL,	CONTROL,	VIRTKEY
	VK_S,		IDEXEC,		CONTROL,	VIRTKEY
	VK_R,		IDREFRESH,	CONTROL,	VIRTKEY
END

